body {
    background-color: #f8f9fa;
}

.card-juego {
    transition: transform 0.2s;
}

.card-juego:hover {
    transform: scale(1.03);
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#items-carrito {
    max-height: 400px;
    overflow-y: auto;
}